<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- **Spring security** -->
	<!-- Spring Security의 필터를 설정하기 위한 구성
	Spring Security 필터 체인을 프로젝트에 적용하여 보안 기능을 활성화하는 역할 
	인증, 권한 부여, 보안 설정 등을 처리하는데 사용되며, 필터 체인을 통해 
	요청을 인터셉트(URL요청을 가로챈 후 권한 확인을 한 다음 자원접근을 허용한다는 뜻)하고 처리한다. 
	이를 통해 웹 애플리케이션의 보안을 제어할 수 있다. -->
	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>	
	<!-- **//Spring security** -->

	<!-- contextConfigLocation
	스프링프레임 워크가 동작하기 위한 설정파일의 위치를 알려주는 파라미터 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml
			/WEB-INF/spring/security-context.xml		
		</param-value>
	</context-param>

	<!-- 모든 서블릿 및 필터에서 공유하는 스프링 컨테이너-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!-- DispatcherServlet을 설정하고, 서블릿 매핑을 수행하는 부분 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 한글설정 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- //한글설정 -->

</web-app>
